h1{
	text-align: center;
}

.a_centre{
	text-align: center;
	margin: 0 auto;
}

img{
	border: none;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

td.already_expired{
	background: #ff0000;
    text-decoration: line-through;
}
td.expires_soon{
	background: #ffa0a0;
}

td.up{
	background: lightgreen;
}

td.down{
	background: red;
}

td.warning{
	background: red;
}
a.version{
	font-style: italic;
}

div#msg { 
    margin-left:auto;
    margin-right:auto;
    width: 900px;
    border : 5px solid red;
    background: lightgray;
    padding: 10px;
    font-size: 14pt;
}
